@charset 'UTF-8';

@media only screen and ( max-width: 767px ) {
  .tablify-wrap {
    thead{
      display: none;
    }
    tr {
      display: flex;
      flex-wrap: wrap;
    }
    th {
      width: 100%;
    }
    td {
      position: relative;
      display: flex;
      justify-content: space-between;
      text-align: right;
      flex-wrap: nowrap;
      width:100%;

      &:before{
        font-weight: bold;
        text-align: left;
      }
    }
    .tablify-ignore {
      display: none;
    }
  }
}

@media only screen and ( min-width: 768px ) {
  .tablify-wrap {
    td {
      &:before{display: none;}
    }
  }
}
