@charset 'UTF-8';
body {
  font: 400 1em "courier";
}
.container {
  max-width: 75em;
  margin: auto;
  margin-top: 5em;
  margin-bottom: 5em;
}
.code {
  color: blue;
  font-size: 14px;
}
h2 {
  margin-top: 5em;
}
table{
  border-top: 1px solid #ddd5d1;
  margin: 48px 0 0;
  text-align: left;
  width: 100%;
}
th {
  font-weight: bold;
  padding: 1.5em 0.5em;
  width: 100%;
}
tbody{
  tr {
    display: none;
    &:nth-of-type(1),
    &:nth-of-type(2){display: flex;}
  }
}
tr {
  padding: 0 1.5em;
}
td {
  padding-top: 0.75em;
  padding-bottom:  1.125em;
}


@media only screen and ( min-width: 48em ) {
  table{
    border-top: 0;
  }
  thead{
    tr {
      border-top: 1px solid #ddd5d1;
      border-bottom: 1px solid #ddd5d1;
    }
  }
  th {
    padding: 1.5em 0.5em;
    &:first-child{padding-left: 0;}
    &:last-child{padding-right: 0;}
  }
  tr {
    padding: 0 2.5em;
  }
  td {
    padding: 1.5em 0.5em;
    &:first-child{padding-left: 0;}
    &:last-child{padding-right: 0;}
  }
}
