table
    tr
      th Date Announced
      th Record Date
      th Payment Date
      th Rate
      th Franked
      th Unfranked
      th Imputation Percentage
      th Conduit Foreign Income
    tr
      td 15.08.16
      td 13.09.16
      td 17.10.16
      td 5.0¢
      td 1.5¢
      td 3.5¢
      td 30%
      td 70%
    tr
      td 15.08.16
      td 13.09.16
      td 17.10.16
      td 5.0¢
      td 1.5¢
      td 3.5¢
      td 30%
      td 70%
    tr
      td 15.08.16
      td 13.09.16
      td 17.10.16
      td 5.0¢
      td 1.5¢
      td 3.5¢
      td 30%
      td 70%
    tr
      td 15.08.16
      td 13.09.16
      td 17.10.16
      td 5.0¢
      td 1.5¢
      td 3.5¢
      td 30%
      td 70%
    tr
      td 15.08.16
      td 13.09.16
      td 17.10.16
      td 5.0¢
      td 1.5¢
      td 3.5¢
      td 30%
      td 70%
    tr
      td 15.08.16
      td 13.09.16
      td 17.10.16
      td 5.0¢
      td 1.5¢
      td 3.5¢
      td 30%
      td 70%
